In [1]:
import pandas as pd
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.15.0.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (475.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 475.2/475.2 MB 3.1 MB/s eta 0:00:0000:0100:01
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.36.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 69.4 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: h5py>=2.9.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (3.7.0)
Collecting wrapt<1.15,>=1.11.0
  Downloading wrapt-1.14.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 14.4 MB/s eta 0:00:00
Collecting libclang>=13.0.0
  Downloading libclang-16.0.6-py2.py3-none-manylinux2010_x86_64.whl (22.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 22.9/22.9 MB 52.1 MB/s eta 0:00:0000:0100:01
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting keras<2.16,>=2.15.0
  Downloading keras-2.15.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 69.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (4.4.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.23.5)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 10.9 MB/s eta 0:00:00
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (4.21.11)
Requirement already satisfied: six>=1.12.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.16.0)
Collecting tensorboard<2.16,>=2.15
  Downloading tensorboard-2.15.2-py3-none-any.whl (5.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 73.9 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from tensorflow) (22.0)
Collecting absl-py>=1.0.0
  Downloading absl_py-2.1.0-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.7/133.7 kB 14.8 MB/s eta 0:00:00
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from tensorflow) (65.5.1)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.62.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 78.1 MB/s eta 0:00:00:00:0100:01
Collecting ml-dtypes~=0.2.0
  Downloading ml_dtypes-0.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 67.5 MB/s eta 0:00:00
Collecting gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1
  Downloading gast-0.5.4-py3-none-any.whl (19 kB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.5/65.5 kB 11.8 MB/s eta 0:00:00
Collecting termcolor>=1.1.0
  Downloading termcolor-2.4.0-py3-none-any.whl (7.7 kB)
Collecting tensorflow-estimator<2.16,>=2.15.0
  Downloading tensorflow_estimator-2.15.0-py2.py3-none-any.whl (441 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 442.0/442.0 kB 42.8 MB/s eta 0:00:00
Collecting flatbuffers>=23.5.26
  Downloading flatbuffers-23.5.26-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/conda/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Collecting tensorboard-data-server<0.8.0,>=0.7.0
  Downloading tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl (6.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 77.8 MB/s eta 0:00:00:00:0100:01
Collecting google-auth-oauthlib<2,>=0.5
  Downloading google_auth_oauthlib-1.2.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.28.1)
Collecting markdown>=2.6.8
  Downloading Markdown-3.5.2-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.9/103.9 kB 18.4 MB/s eta 0:00:00
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.28.1-py2.py3-none-any.whl (186 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 186.9/186.9 kB 27.3 MB/s eta 0:00:00
Collecting werkzeug>=1.0.1
  Downloading werkzeug-3.0.1-py3-none-any.whl (226 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 226.7/226.7 kB 32.4 MB/s eta 0:00:00
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.3.3-py3-none-any.whl (9.3 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.3.0-py2.py3-none-any.whl (181 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 181.3/181.3 kB 27.4 MB/s eta 0:00:00
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2.1.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/conda/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow) (2.1.1)
Collecting pyasn1<0.6.0,>=0.4.6
  Downloading pyasn1-0.5.1-py2.py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.9/84.9 kB 16.6 MB/s eta 0:00:00
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (3.2.2)
Installing collected packages: libclang, flatbuffers, wrapt, werkzeug, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard-data-server, pyasn1, opt-einsum, ml-dtypes, markdown, keras, grpcio, google-pasta, gast, cachetools, astunparse, absl-py, rsa, requests-oauthlib, pyasn1-modules, google-auth, google-auth-oauthlib, tensorboard, tensorflow
Successfully installed absl-py-2.1.0 astunparse-1.6.3 cachetools-5.3.3 flatbuffers-23.5.26 gast-0.5.4 google-auth-2.28.1 google-auth-oauthlib-1.2.0 google-pasta-0.2.0 grpcio-1.62.0 keras-2.15.0 libclang-16.0.6 markdown-3.5.2 ml-dtypes-0.2.0 opt-einsum-3.3.0 pyasn1-0.5.1 pyasn1-modules-0.3.0 requests-oauthlib-1.3.1 rsa-4.9 tensorboard-2.15.2 tensorboard-data-server-0.7.2 tensorflow-2.15.0.post1 tensorflow-estimator-2.15.0 tensorflow-io-gcs-filesystem-0.36.0 termcolor-2.4.0 werkzeug-3.0.1 wrapt-1.14.1

In [3]:
import tensorflow as tf

2024-02-27 05:45:22.237097: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-02-27 05:45:22.303210: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-02-27 05:45:22.303277: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-02-27 05:45:22.304751: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-02-27 05:45:22.313713: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-02-27 05:45:22.314331: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-02-27 05:45:23.612422: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [4]:
tf.__version__

'2.15.0'

In [5]:
df.drop(['Surname','CustomerId','RowNumber'],axis=1,inplace=True)

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
x=df.iloc[:,:-1]
y=df['Exited']

In [8]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [9]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [10]:
Gender=pd.get_dummies(x['Gender'])
Geography=pd.get_dummies(x['Geography'])
x=x.drop(['Gender','Geography'],axis=1)

In [11]:
x=pd.concat([x,Gender,Geography],axis=1)
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Female,Male,France,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,1,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,1,0,0
4,850,43,2,125510.82,1,1,1,79084.10,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,1,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,1,0,0

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=0)

In [14]:
x_train.shape

(8000, 13)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
ss=StandardScaler()

In [17]:
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns

## create a ANN

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

## Initialize the ANN

In [20]:
classifier=Sequential()

## Adding input layer

In [21]:
classifier.add(Dense(units=11,activation='relu')) ##  11=columns(input)

## Adding the first hidden layer

In [23]:
classifier.add(Dense(units=7,activation='relu'))

## Adding the second hidden layer

In [24]:
classifier.add(Dense(units=6,activation='relu'))

## Adding the output layer

In [25]:
classifier.add(Dense(units=1,activation='sigmoid'))

In [26]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [29]:
model_history=classifier.fit(x_train,y_train,validation_split=.33,batch_size=10,epochs=1000,callbacks=early_stopping)

Epoch 1/1000
 64/536 [==>...........................] - ETA: 0s - loss: 0.2862 - accuracy: 0.8813

/opt/conda/lib/python3.10/site-packages/keras/src/engine/data_adapter.py:1808: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

536/536 [==============================] - 1s 2ms/step - loss: 0.3051 - accuracy: 0.8746 - val_loss: 0.3693 - val_accuracy: 0.8591
Epoch 2/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3020 - accuracy: 0.8707 - val_loss: 0.3741 - val_accuracy: 0.8546
Epoch 3/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3035 - accuracy: 0.8707 - val_loss: 0.3731 - val_accuracy: 0.8584
Epoch 4/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3032 - accuracy: 0.8707 - val_loss: 0.3733 - val_accuracy: 0.8550
Epoch 5/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3026 - accuracy: 0.8720 - val_loss: 0.3712 - val_accuracy: 0.8569
Epoch 6/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3040 - accuracy: 0.8720 - val_loss: 0.3711 - val_accuracy: 0.8550
Epoch 7/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3039 - accuracy: 0.8718 - val_loss: 0.3740 - val_accuracy: 0.8569
Epoch 8/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3016 - accuracy: 0.8726 - val_loss: 0.3705 - val_accuracy: 0.8527
Epoch 9/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3021 - accuracy: 0.8726 - val_loss: 0.3766 - val_accuracy: 0.8569
Epoch 10/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3017 - accuracy: 0.8729 - val_loss: 0.3777 - val_accuracy: 0.8516
Epoch 11/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3026 - accuracy: 0.8722 - val_loss: 0.3771 - val_accuracy: 0.8599
Epoch 12/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3030 - accuracy: 0.8705 - val_loss: 0.3753 - val_accuracy: 0.8527
Epoch 13/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3022 - accuracy: 0.8705 - val_loss: 0.3743 - val_accuracy: 0.8554
Epoch 14/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3017 - accuracy: 0.8761 - val_loss: 0.3772 - val_accuracy: 0.8508
Epoch 15/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3010 - accuracy: 0.8720 - val_loss: 0.3733 - val_accuracy: 0.8531
Epoch 16/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3012 - accuracy: 0.8739 - val_loss: 0.3747 - val_accuracy: 0.8504
Epoch 17/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3001 - accuracy: 0.8735 - val_loss: 0.3753 - val_accuracy: 0.8527
Epoch 18/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3018 - accuracy: 0.8716 - val_loss: 0.3725 - val_accuracy: 0.8546
Epoch 19/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3015 - accuracy: 0.8735 - val_loss: 0.3707 - val_accuracy: 0.8561
Epoch 20/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3024 - accuracy: 0.8731 - val_loss: 0.3780 - val_accuracy: 0.8554
Epoch 21/1000
536/536 [==============================] - 1s 2ms/step - loss: 0.3008 - accuracy: 0.8731 - val_loss: 0.3757 - val_accuracy: 0.8535
Epoch 21: early stopping

## Early stopping

In [28]:
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [30]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [32]:
y_pred=classifier.predict(x_test)

63/63 [==============================] - 0s 1ms/step

In [33]:
y_pred[0:5]

array([[0.35069823],
       [0.2821091 ],
       [0.23652796],
       [0.02182048],
       [0.03252813]], dtype=float32)

In [34]:
y_test[0:5]

/tmp/ipykernel_95/3374873548.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test[0:5]

9394    0
898     1
2398    0
5906    0
2343    0
Name: Exited, dtype: int64

In [40]:
y_pred=(y_pred>=0.5)

In [36]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [41]:
confusion_matrix(y_test,y_pred)

array([[1527,   68],
       [ 211,  194]])

In [43]:
accuracy_score(y_test,y_pred)

0.8605

## get the weights

In [44]:
classifier.get_weights()

[array([[ 1.25684799e-03, -5.78010008e-02, -9.93582830e-02,
          1.54825583e-01, -1.12589993e-01, -5.29047139e-02,
          6.44808769e-01, -5.19605353e-02, -4.13602069e-02,
         -1.56908765e-01,  5.91759086e-02],
        [-6.75319880e-02, -9.40508783e-01,  2.26364627e-01,
         -5.72180629e-01, -6.62582994e-01, -7.65184015e-02,
         -3.50029945e-01,  5.48151545e-02,  1.04919803e+00,
          7.49972343e-01, -3.43304127e-02],
        [-1.26102865e-01, -1.09612659e-01, -2.56239593e-01,
         -7.72538558e-02, -2.12891027e-01, -8.47533196e-02,
          6.55289769e-01, -1.12460256e-01, -1.73167825e-01,
         -4.67040241e-01, -2.92028457e-01],
        [ 9.72896278e-01, -1.11571122e-02,  1.79319888e-01,
          7.66455591e-01,  1.05481446e-02,  9.43612754e-02,
         -7.00377762e-01, -2.98346937e-01,  1.50847569e-01,
          4.86394644e-01,  3.85274619e-01],
        [ 9.64755177e-01,  2.97491670e-01,  5.20039737e-01,
         -3.69952381e-01, -9.36698765e-02,  1.30192697e+00,
          1.39044142e+00, -1.51575124e+00, -4.46754307e-01,
          8.50838006e-01,  4.34940010e-01],
        [-7.32804090e-02,  4.40438697e-03,  2.53617942e-01,
         -1.44670084e-01,  1.78638756e-01,  7.81604648e-02,
         -1.13085911e-01,  2.14831289e-02,  1.86403412e-02,
          1.84410606e-02,  3.42211694e-01],
        [-2.99994741e-02, -1.80944666e-01,  8.23127627e-01,
          1.40316024e-01,  1.10421814e-02,  5.90691753e-02,
          4.41018939e-01, -2.67483622e-01,  2.64509112e-01,
         -2.51918167e-01, -5.65328717e-01],
        [ 1.31714717e-01, -7.45589882e-02,  1.53257936e-01,
          1.25763081e-02,  2.15943992e-01, -1.99871391e-01,
         -1.27749294e-01,  1.88887283e-01,  2.79208601e-01,
          4.10269424e-02,  4.05753016e-01],
        [ 3.50891173e-01,  2.63785213e-01, -3.89589787e-01,
          5.30310124e-02, -1.54057786e-01,  3.35505843e-01,
         -4.73652214e-01,  4.60289866e-02, -1.75986692e-01,
          1.07739260e-03,  1.57779098e-01],
        [ 3.34610760e-01,  2.26689875e-01, -7.03299418e-02,
          4.74600017e-01, -2.54396528e-01,  3.85563374e-01,
          5.46722054e-01, -5.21257669e-02, -2.27895752e-01,
         -1.90629289e-01,  2.11493164e-01],
        [-9.45026651e-02,  3.94547552e-01,  3.78480405e-01,
          3.85934860e-01, -3.68959367e-01, -2.46659368e-01,
         -2.41788462e-01, -2.93681592e-01, -1.86605990e-01,
          5.00692986e-02,  5.05996943e-01],
        [ 2.64668167e-01, -3.97403061e-01,  9.14504635e-04,
         -6.28462195e-01,  5.37358105e-01, -5.17182410e-01,
          4.11235929e-01, -4.04223092e-02,  6.53989166e-02,
         -1.97568238e-01, -3.79275680e-01],
        [-1.68683797e-01, -9.79782820e-01, -3.21382940e-01,
          2.15256244e-01,  7.99497128e-01,  6.72987640e-01,
          4.88490611e-01,  4.68585908e-01,  3.92737061e-01,
         -1.95983395e-01, -9.91350189e-02]], dtype=float32),
 array([ 0.43448943,  0.11416359,  0.0888746 ,  0.443173  ,  0.5232323 ,
        -0.489543  , -0.13488683,  0.0612005 , -0.47177228, -0.37708217,
         0.27930963], dtype=float32),
 array([[ 3.79634529e-01, -1.33205175e+00,  3.51951383e-02,
         -6.17099665e-02,  2.83967286e-01, -1.11114025e-01,
         -1.07661045e+00],
        [ 4.29942966e-01,  2.35308498e-01, -1.46931574e-01,
         -1.40166938e-01,  5.68723500e-01,  8.16755593e-01,
          4.23623562e-01],
        [-4.46908951e-01,  1.54751852e-01,  1.36876591e-02,
          4.86416310e-01,  3.78623664e-01, -1.36890700e-02,
         -7.90205419e-01],
        [ 2.86111057e-01,  2.45725825e-01, -4.84522820e-01,
          2.97678378e-03, -6.81937218e-01, -3.83773565e-01,
          2.71191120e-01],
        [ 1.04108706e-01,  3.39912057e-01, -4.36486661e-01,
          3.08405727e-01, -6.15921199e-01,  6.42615974e-01,
          3.56204547e-02],
        [ 1.60955131e-01,  4.50416088e-01, -8.70274156e-02,
         -1.25064301e+00, -8.92325103e-01, -8.21040809e-01,
          6.14152730e-01],
        [-6.58272147e-01,  7.28016376e-01,  5.68737626e-01,
          8.80936265e-01, -5.72894642e-04,  2.48757944e-01,
          1.24220207e-01],
        [ 1.38670638e-01, -1.77043781e-01,  7.81589091e-01,
         -4.00304586e-01, -3.76012743e-01,  4.68308568e-01,
         -2.85151780e-01],
        [-6.33039713e-01,  1.54639393e-01, -2.14495063e-02,
         -8.18777084e-01,  6.88258708e-01, -3.88752103e-01,
          6.05146646e-01],
        [-4.10583735e-01, -5.78280874e-02,  4.29416806e-01,
          2.30501354e-01,  5.16944885e-01, -5.40519655e-01,
         -3.38454008e-01],
        [ 3.09572786e-01,  3.25293839e-02,  2.60008931e-01,
          1.55684412e-01, -4.66641456e-01,  6.26215339e-01,
         -6.60465181e-01]], dtype=float32),
 array([ 0.22170818,  0.34096354,  0.07611661,  0.04297494,  0.01622507,
        -0.15871957, -0.00118069], dtype=float32),
 array([[ 0.61202544, -1.0351496 ,  0.15694866,  0.38020104,  0.16048548,
          0.65468866, -0.41122124],
        [ 0.41987172,  0.20855403,  0.28985593, -0.22709483, -0.2632582 ,
          0.5243542 , -0.9121517 ],
        [-0.2693545 ,  0.43134823, -1.4310372 ,  0.47658086,  0.44474852,
         -0.14489096,  0.6370642 ],
        [ 0.7584881 ,  0.05677982,  0.07849025, -0.14124061, -0.4299544 ,
          0.6962198 ,  0.7975595 ],
        [ 0.83194965, -0.7687874 ,  0.05034472, -0.6923635 , -0.12195262,
          0.58833385,  0.5916994 ],
        [ 0.5386476 , -1.9889262 , -0.8080761 ,  0.27686393, -1.3244786 ,
         -0.23492566, -0.09587535],
        [ 0.95994985,  0.30313826,  0.7321222 ,  0.15323512, -0.07493186,
          0.23554358, -1.155316  ]], dtype=float32),
 array([ 0.04978672, -0.15222296,  0.66533685, -0.34802678,  0.21887362,
        -0.14144193,  0.21603613], dtype=float32),
 array([[-0.69665694, -0.32573178, -0.06142867,  0.5419308 ,  0.37124395,
         -0.766358  ],
        [ 0.87647235,  0.87124056,  0.42982632, -0.02182348, -0.16099471,
          0.6968619 ],
        [ 0.6562551 ,  0.64524436,  0.4415739 ,  0.50600785,  1.1411061 ,
          0.11962091],
        [ 0.4786133 ,  0.6291169 ,  0.23739363, -0.6236195 , -0.27083367,
          0.55159646],
        [ 0.30421793,  0.45824194,  0.5746663 , -0.69979876, -0.7205276 ,
          0.53793186],
        [ 0.19314426,  0.00965817, -0.894926  , -0.11235318,  0.31174648,
          0.28253314],
        [ 0.73328936,  0.12605612,  0.8377774 ,  0.38822734,  0.4220871 ,
          0.7110802 ]], dtype=float32),
 array([ 0.1946246 , -0.26241866,  0.30731046,  0.14209223,  0.01004579,
         0.2402973 ], dtype=float32),
 array([[ 1.4230428],
        [ 1.2348932],
        [ 0.8321507],
        [-0.8696067],
        [-1.0924975],
        [ 0.6349257]], dtype=float32),
 array([0.03107691], dtype=float32)]